/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;
  @media (min-width: $break-md){
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
  }
}

.centered {
  @media (min-width: $break-md) {
    @include center;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;
  @media (min-width: $break-md) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
  @media (min-width: $break-md) {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  & + [class^=col] {
      @media (min-width: $break-md) {
      margin-left: 10px;
    }
  }
}

.theme .col-1 {
  background-color: $color-info;
  @media (min-width: $break-md) {
    flex-basis: 8.33%;
  }
}

.theme .col-2 {
  background-color: $color-warning;
  @media (min-width: $break-md) {
    flex-basis: 16.67%;
  }
}

.theme .col-3 {
  background-color: #deb2ee;
  @media (min-width: $break-md) {
    flex-basis: 25.00%;
  }
}

.theme .col-4 {
  background-color: $color-secondary-light;
  @media (min-width: $break-md) {
    flex-basis: 33.33%;
  }
}

.theme .col-5 {
  background-color: $color-success-light;
  @media (min-width: $break-md) {
    flex-basis: 41.67%;
  }
}

.theme .col-6 {
  background-color: #4da2bb;
  @media (min-width: $break-md) {
    flex-basis: 50.00%;
  }
}

.theme .col-7 {
  background-color: $color-error-light;
  @media (min-width: $break-md) {
    flex-basis: 58.33%;
  }
}

.col-8 {
  background-color: $color-warning-light;
  @media (min-width: $break-md) {
    flex-basis: 66.67%;
  }
}

.theme .col-9 {
  background-color: $color-error;
  @media (min-width: $break-md) {
    flex-basis: 75.00%;
  }
}

.theme .col-10 {
  background-color: $color-success;
  @media (min-width: $break-md) {
    flex-basis: 83.33%;
  }
}

.theme .col-11 {
  background-color: $color-secondary;
  @media (min-width: $break-md) {
    flex-basis: 91.67%;
  }
}

.theme .col-12 {
  background-color: #80e8d1;
  @media (min-width: $break-md) {
    flex-basis: 100.00%;
  }
}

.card {
  flex-basis: 100%;
}